.main-bg {
    display: flex;
    align-items: center;
    max-width: 1000px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
    font-family: "Sora";
}

.tdeeCalculadora {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, .2);
    width: 100%;
    height: max-content;
}

.calorias {
    display: flex;
    justify-content: center;
    visibility: hidden;
}
.calorias.ativo {
    visibility: visible;
}

#tdee {
    font-size: 1.25rem;
    display: inline-block;
    font-weight: 500;
}
#paragrafo {
    font-size: 1.125rem;
    line-height: 8;
}

.formulario_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;

}
label span {
    color: red;
}

.btn {
    grid-column: 1/-1;
    padding: 10px 0;
    font-size: 1.125rem;
    background-color: #16a34a;
    font-family: "Roboto";
    font-weight: 500;
    color: #fff;
}

.mensagem_erro {
    font-size: .75rem;
    color: red;
    margin-left: 15px;
    margin-top: 5px;
    height: .75rem;
    display: block;
}

@media (max-width: 500px) {
    .formulario_main {
        grid-template-columns: 1fr;
    }
}